<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973504080588-k9gchitb4mhdj09mfif8b03uhcggc64j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973504080588-k9gchitb4mhdj09mfif8b03uhcggc64j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>973504080588-9a4rqtiii3748d7e0n54bp7gptqsc5ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6n7_XxhbSk0ynpEDbi1Fjy2q0TFLKhYY</string>
	<key>GCM_SENDER_ID</key>
	<string>973504080588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ediotic.com.example.guppeShappe</string>
	<key>PROJECT_ID</key>
	<string>guppeshappe-45a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>guppeshappe-45a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973504080588:ios:e5926797ce3ead3e78b069</string>
</dict>
</plist>